<div id="main">
    <div id="nav">
        <div class="row">
            <div id="upButton" class="navbtn up" x-mojo-element="Button"></div>
            <div id="pauseButton" class="navbtn pause" x-mojo-element="Button"></div>
            <div id="infoButton" class="navbtn info" x-mojo-element="Button"></div>
        </div>
        <div class="row">
            <div id="leftButton" class="navbtn left" x-mojo-element="Button"></div>
            <div id="selectButton" class="navbtn select" x-mojo-element="Button"></div>
            <div id="rightButton" class="navbtn right" x-mojo-element="Button"></div>
        </div>
        <div class="row">
            <div id="downButton" class="navbtn down" x-mojo-element="Button"></div>
            <div id="escButton" class="navbtn esc" x-mojo-element="Button"></div>
            <div id="menuButton" class="navbtn menu" x-mojo-element="Button"></div>
        </div>
    </div>

    <div class="palm-group">
        <div class="palm-group-title">Status</div>
        <div id="response" class="palm-body-text"></div>
    </div>
</div>
